Your Files

<ul>
  <% files.forEach(item => { %>
  <li>
    <!-- TODO: update link to point to the secure url from database -->
    <a href="/folder/<%= item.folderId %>/file/<%= item.fileName %>"
      ><%= item.fileName %></a
    >
    <br />
    <a href="/folder/<%= item.folderId %>/file/<%= item.fileName %>/details"
      >Show details</a
    >
    <br />
    <a
      href="/folder/<%= item.folderId %>/file/<%= item.fileName %>/<%= item.fileId %>/delete"
      >Delete</a
    >
  </li>

  <br />
  <% }) %>
</ul>

<a href="/">Home</a>
