<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <%- include('partials/logout') %> <br /><br />

    <%- include('partials/errors') %> <br /><br />
    <h1>HOME</h1>

    <h4>Limited to images with size under 10MB</h4>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="upload_file" />

      <br /><br />
      <label for="folders">Choose folder:</label>

      <select name="folder_id" id="folders">
        <option value="">Select</option>
        <% userFolders.forEach(item => { %>
        <option value="<%= item.folderId %> "><%= item.folderName %></option>
        <% }) %>
      </select>

      <button type="submit">Upload File</button>
    </form>

    <br />

    <p>Need a new folder?</p>

    <a href="/newFolder">Create a folder</a>

    <br /><br />

    <a href="/"></a>

    <h3>Your folders</h3>
    <%- include('partials/userFolders') %>
  </body>
</html>
